target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
*.ipr
bin/
**/*maven-eclipse.xml
**/*externalToolBuilders
.sts4-cache
data
.DS_Store
.springBeans
**/rebel.xml
**/.rebel.xml.bak
.factorypath

node_modules
**/.attach_pid*
